.title {
    padding-top: 50px;
    text-align:center;
}

.page-title {
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

.card-title {
    padding-top: 10px;
}

.form-container {
    width: 500px;
    margin: auto;
}