.title {
    padding-top: 12vh;
    padding-bottom: 4vh;
    text-align:center;
}

.title-text {
    color: #2A9D8F;
    font-size: 5em;
    font-weight: bold;
    font-family: 'Farro', sans-serif;
}

.title-text:hover {
    color: #2A9D8F;
    font-size: 5em;
    font-weight: bold;
    font-family: 'Farro', sans-serif;
}

.page-title {
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-family: 'Farro', sans-serif;
}

.card-content {
    padding: 1.5vw;
}

.card-title {
    color: #264653;
    font-size: 1.75em;
    overflow-wrap: break-word;
    line-height: 1.0em;
    font-family: 'Farro', sans-serif;
}

.card-title:hover {
    color: #264653;
    font-size: 1.75em;
    overflow-wrap: break-word;
    line-height: 1.0em;
    font-family: 'Farro', sans-serif;
}

.card-paragraph {
    text-align: center;
    margin-bottom: 1vh;
}

.topic {
    color: #264653;
    font-size: 1.15em;
    padding-top: 5vh;
    font-family: 'Montserrat', sans-serif;
}

.topic:hover {
    color: #264653;
    font-size: 1.15em;
    padding-top: 5vh;
    font-family: 'Montserrat', sans-serif;
}

.author {
    display: block;
    color: #264653;
    font-size: 1.25em;
    line-height: 1.0em;
    font-family: 'Montserrat', sans-serif;
}

.author:hover {
    display: block;
    color: #264653;
    font-size: 1.25em;
    line-height: 1.0em;
    font-family: 'Montserrat', sans-serif;
}

.description {
    color: #264653;
    font-size: 1.25em;
    line-height: 1.25em;
    font-family: 'Montserrat', sans-serif;
}

.body-text {
    padding-top: 5vh;
    padding-bottom: 10vh;
    color: #264653;
    font-size: 1.25em;
    line-height: 1.25em;
    font-family: 'Montserrat', sans-serif;
    white-space: pre-line;
}

.login-form-container {
    width: 40%;
    margin: auto;
}

.form-container {
    padding-top: 5vh;
    width: 60%;
    margin: auto;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30vh;
    background-color: #353535;
    color: white;
    text-align: center;
    margin-top: 15vh;
    position: relative;
}

.footer-content {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-text {
    font-size: 1.15em;
    display: block;
    padding-top: 1.75vh;
    color: #F4A666;
}

.footer-text:hover {
    font-size: 1.15em;
    display: block;
    padding-top: 1.75vh;
    color: #F4A666;
}

.header {
    margin-bottom: 1.25vh;
    color: #2A9D8F;
}


.date {
    display: block;
    margin-bottom: 3.5vh;
    font-size: 1.1em;
    line-height: 1.0em;
    font-family: 'Montserrat', sans-serif;
}

.register-button {
    height: 2.5em;
    width: 7em;
    background-color: #F4A666;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1.15em;
    border-radius: .5em;
    cursor:pointer;
}

.register-button-text {
    color: white;
}

.register-button-text:hover {
    color: white;
}

.login {
    text-align: center;
    padding-top: 5vh;
}

.login-button {
    height: 2.5em;
    width: 7em;
    background-color: #2A9D8F;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.15em;
    border-radius: .5em;
    float: right;
    cursor:pointer;
}

.no-articles {
    display: flex;
    align-items: center;
    margin: auto;
    color: #F8B377;
}

.article-image {
    display: block;
    margin-top: 2.5vh;
    margin-bottom: 2.75vh;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-height: 125vh;
    object-fit: cover;
    border-radius: .25em;
}

.grids {
    width: 50%;
    margin: auto;
}

.load-button {
    color: #2A9D8F
}

.post-comment-button {
    height: 2em;
    width: 10em;
    background-color: #2A9D8F;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.15em;
    border-radius: .5em;
    float: right;
    cursor:pointer;
}

.about {
    margin: 5vh 25vw 5vh;
    font-size: 1.25em;
    color: #353535;
}

.contact-us {
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
    color: #F8B377;
}

.privacy {
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
    color: #F8B377;
}

.comments-link {
    text-align: right;
    color: #FDF4EC;
}

.comments-link:hover {
    text-align: right;
    color: #DB3A34;
}

